<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeesBBDD.Properties.Settings.DavidPalacinEmployeesConnectionString"
            connectionString="Data Source=46.183.117.154,54321;Initial Catalog=DavidPalacinEmployees;Persist Security Info=True;User ID=sa;Password=Sql#123456789;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>